:root {
    --bg-color: #EAEAEA;
    --font-color: #4F6D7A;
    --primary-color: #E8DAB2;
    --secondary-color: #C0D6DF;
    --accent-color: #DD6E42;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
}

/* sidebar styling */

#sidebar {
    width: 30vw;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    gap: 20px;
}

#sidebar h1{
    font-size: clamp(2rem, 4rem, 6rem);
    font-weight: bold;
    color: var(--font-color);
    text-shadow: 3px 0px 0 var(--accent-color);
    margin: 0;
}

#sidebar #add-book-btn {
    border: 1px solid var(--font-color);
    border-radius: 12px;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-weight: bold;
    font-size: 1rem;
    padding: 12px;
    width: fit-content;
}

#sidebar #add-book-btn:active{
    box-shadow: 0px 2px 5px darkgray;
}

/* main styling */
#main {
    width: 100%;
    background-color: var(--bg-color);
    padding: 30px;
}

table#library-books{
    width: 100%;
    border-collapse: collapse;
    color: var(--font-color);
    table-layout: fixed;
}

th, tr, td {
    border: 1px solid var(--font-color);
}

#library-books th {
    font-weight: bolder;
    background-color: var(--primary-color);
}

#library-books td{
    padding: 6px;
}

.delete-btn {
    margin: auto;
    padding: 12px;
    border: none;
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    background-image: url(./assets/trash-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* Dialog and form styling */

dialog {
    border: none;
    border-radius: 12px;
    background-color: var(--secondary-color);
    color: var(--font-color);
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form#add-book-form{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 12px;
    font-size: 1rem;
}

form legend{
    font-weight: bold;
    font-size: 1rem;
}

form fieldset {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

form button[type='submit']{
    border: 1px solid var(--font-color);
    border-radius: 12px;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-weight: bold;
    font-size: 1rem;
    padding: 12px;
    width: fit-content;
}

form#add-book-form input{
    outline: var(--font-color);
}

form#add-book-form input:active{
    outline: var(--font-color);
    box-shadow: 1px 1px 1px darkgray;
}