:root {
    --bg-color: #EAEAEA;
    --font-color: #4F6D7A;
    --primary-color: #E8DAB2;
    --secondary-color: #C0D6DF;
    --accent-color: #DD6E42;
}

body {
    display: flex;
}

/* sidebar styling */

#sidebar {
    width: 30vw;
}

/* main styling */
#main {
    width: 30vw;
}